{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{{ im.title }}</title>
	{% bootstrap_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'images/image.css' %}">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Imagein</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'about' %}">About</a>
	      </li>
	    </ul>
	  </div>
	</nav>
		{% for message in messages %}
		<div class="container comment" >
			{{ message }}
		</div>
		{% endfor %}
	<div class="container text-center">
		<div style="margin-top:120px"> </div>
		<img src="{{ im.image.url }}" id="painting">
		<div style="margin-top:120px"> </div>
		<button id="rotateleft" class="btn btn-primary">Rotate Left</button>
		<button id="rotateright" class="btn btn-primary">Rotate Right</button>
		<h1 class="display-4"> {{ im.title }} <div id="imid" hidden="true">{{ im.id }}</div></h1>
	</div>
	<div class="container">
		<div class="cardy">
			<p> {{ im.about }} </p>
			<p><button class="btn btn-primary" id="likebtn">Like</button><strong id="num_likes"> {{ im.num_likes }}</strong> </p>
			<p> uploaded on {{im.date_uploaded}}</p>
		</div>
	</div>



   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script  src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'images/comments.js' %}"></script>
	<div class="container mt-5" >
		<div class="row">
				<div class="panel panel-default" style="width:100%">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-list-alt"></span><b>Comments</b></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12">
								<ul class="demo1">
									{% for comment in comments %}
									<li class="news-item">
										<table cellpadding="4">
											<tr>
												<td>{{ comment.name }}:  {{ comment.comment }} </td>
											</tr>
										</table>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<div class="panel-footer">
					</div>
				</div>
		</div>
	</div>

	<div class="container mb-5">
		<form method="post" action="{% url 'image' pk=im.pk %}">
			{% csrf_token %}
			{% bootstrap_form form %}
			{% buttons %}
				<button class="btn btn-primary" type="submit">
					Comment
				</button>
			{% endbuttons %}
		</form>
	</div>
	
<script type="text/javascript">
    $(function () {
        $(".demo1").bootstrapNews({
            newsPerPage: 5,
            autoplay: true,
			pauseOnHover:true,
            direction: 'up',
            newsTickerInterval: 4000,
        });
    });
</script>

<script type="text/javascript" src="{% static 'images/image.js' %}"></script>


</body>
</html>