body{
	background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

#top > img{
	width: 100%;
	height: 375px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#person-div{
	position: absolute;
	top: 23%;
	left: 35%;
	z-index: 200;
	transition: transform 1s ease-out;
}

#person-div img{
	height: 300px;
	width: 500px;
}

#person-div:hover{
	transform: rotate(360deg) scale(1.6);
}


#main{
	border-style: outset;
	border-radius: 30px;
	border-width: 3px;
	margin-top: 20px;
	background-color: white;
}

.container{
	transition: transform 1s ease-out;
}

.container:hover{
	transform: scale(1.05);
}
