<!doctype html>
{% load bootstrap4 %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'about/about.css' %}">
  </head>


  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Imagein</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="flex-box" id="top">
      <img src="{% static 'about/top-back.jpg' %}">
    </div>
    <div id="person-div">
      <img src="{%  static 'about/top-title.jpeg' %}" style="border-radius:5%;">
    </div>

    <div style="height:4rem;">

    </div>
    <div class="container" id="main">
      {% bootstrap_messages %}
      <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          About Me
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        My name is prakriti khurana and i study in BFIA  in Shaheed Sukhdev college of business studies. I love to paint in my spare time, which is very less. This website is a collection of some of my paintings, I would love to hear what you think about them. Press Like if you like them and leave a comment if you have something to say about it. Also feel free to contact me via the message box below.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Paintings
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        I have been painting since as long as I can remember and during that time I have tried to experiment with as many drawing forms as I could. I have made paintings using watercolors, graphite and charcoal. I also like to experiment with paintings on body as some of the images here might indicate.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Extra-curriculars
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Except painting I am also involved in social work as part of an organization named Enactus. As part of that I help with projects that focus on betterment of children in backward parts of the city. I have also been a part of the music club of my college and won various national level competetions in acapella. I am also an avid reader and debator.
      </div>
    </div>
  </div>
</div>
    </div>

    <div class="container" style="margin-top: 2rem;">
      <form action="{% url 'about' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% block buttons %}
          <button class="btn btn-outline-primary">Mail</button>
        {% endblock buttons %}
      </form>
    </div>

    <div style="height: 10rem"></div>

  </body>
</html>