body{
	background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	background-repeat: no-repeat;
}

.comment{
	border-radius: 20px;
	border-width: 10px;
	border-left-width: 30px;
	border-style: line;
	text-align: center;
	text-decoration: bold;
	font-size: 20px;
	padding: 15px;
	margin-bottom: 3%;
	background: rgba(217,83,79,0.8);
}

#painting{
	height: 100%;
	width: 100%;
	transition: transform 1s ease-out;
}

.cardy{
	border-radius: 20px;
	border-width: 3px;
	border-style: line;
	padding: 10px;
	background: grey !important;
}